<ion-header>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-left ion-text">
            <h3><ion-img class="logo-header" src= ..\assets\images\logo-duoc.png alt="Duoc UC"></ion-img></h3>
      </ion-title>
      <div slot="end">
        <ion-button (click)="logout()" size="small" fill="clear">
          <ion-icon name="log-out-outline" color="white">
          </ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- El div con id "mapId" será donde se mostrará el mapa -->
  <div id="mapId" style="height: 100%;"></div>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center" color="primary">

    <ion-button shape="round" color="primary" size="small"
        (click)="goToDUOC()" >
      DUOC
    </ion-button>

    <ion-button shape="round" color="primary" size="small"
        (click)="goToMyPosition()">
      Aquí
    </ion-button>

    <ion-button shape="round" color="primary" size="small"
        (click)="showRouteToDuoc()">
      Ruta
    </ion-button>

    <!--boton mis datos-->
    <!--<ion-button shape="round" color="secondary" size="small"
        (click)="navegarMisDatos()">
      Mis datos
    </ion-button>-->

    <div *ngIf="distance">
      <br>
      {{ distance }}
    </div>
  </ion-toolbar>
</ion-footer>